@{
    
}

<h2>Самая лучшая игра на этом жёском диске ТараRunner</h2>
<style media="print">
    .no_print {
        display: none;
    }
</style>

<header style="font-size: 20pt ; text-align:center">
    <h1>Чек на трансфер бабосов</h1>
    <h2 style="text-indent: 10%; font-size: 15pt">WebMoney таракановода: XXXXXXXXXXXXXXXX</h2>
    <h2 style="text-indent: 10%; font-size: 15pt">WebMoney игрока: XXXXXXXXXXXXXXXX</h2>
</header>
    </br></br></br>
<p>Господин(жа) @ViewData["user"] @ViewData["result1"] @ViewData["money"] @ViewData["result2"]</p></br>
<p style="font-size: 14pt; text-indent: 1%">Дата: Сегодня</p>
<p style="text-indent: 70%"><img src="176.png" alt="печать"></p>
<input type="button" onclick="window.print()" class="no_print" value="Отправить писарю">